[submodule "_env/packages/sparky.mysql"]
	path = _env/packages/sparky.mysql
	url = git@github.com:acki/sparky.mysql.git
[submodule "_env/packages/sparky.routing"]
	path = _env/packages/sparky.routing
	url = git@github.com:acki/sparky.routing.git
[submodule "_env/packages/sparky.uplight"]
	path = _env/packages/sparky.uplight
	url = git@github.com:acki/sparky.uplight.git
